@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

@theme {
  --color-orange: rgb(242, 170, 50);
  --color-blue: rgb(26, 137, 207);

  --text-2sm: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 20px;
  --text-xl: 24px;
  --text-2xl: 28px;
  --text-3xl: 32px;
}

body {
  font-family: "Montserrat", sans-serif;
}
